/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2018, 23:35:07
    Author     : ADM
*/

body#LoginForm{ background-image:url("../img/FundoLogin.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:0px;}
body#pagPrincipal{ background-image:url("../img/FundoLogin.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:0px;}
body#cadastro{ background-image:url("../img/FundoLogin.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:0px;}
body#gerenciar-vaga{ background-image:url("../img/FundoLogin.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:0px;}



.form-heading { color:#1a1a1a; font-size:32px; text-align: center;}
.panel h1{ color:#444444; font-size:18px; margin:0 0 8px 0; text-align: center;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.main-div1 {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 100%;
  padding: 1px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}

.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
  border-color: #f0ad4e;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.botao-pg-principal {
    width: 100%;
    text-align: center;
}

.botao-index {
    width: 48%;
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    
}

.opcao-cadastro {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0px;

}

.op-cad {
    border-radius: 0px;

    width: 49%;
    
}

.cadastro {
    max-width: 50%;
    background: #ffffff none repeat scroll 0 0;
    padding: 50px 70px 70px 71px;
    margin: 10px auto 30px;
    text-align: center;
}

.titulo-cadastro {
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}

.linha-botao-op-cad {
    width: 100%;
    text-align: center;
}

.bt1{
    background: #ffffff none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #f0ad4e;
    font-size: 14px;
}

.bt2{

    background: #ffffff none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #f0ad4e;
    font-size: 14px;
}

.emp-profile{
    padding: 3%;
    margin-top: 0px;
    margin-bottom: 3%;
    border-radius: 0rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #e38d13;
}

.nav-link{
    font-weight:600;

    color: #e38d13;
}

.nav-link.active{

    border-bottom:2px solid  #e38d13;
}

.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid  #e38d13;
}

.nav-item{
    color: #e38d13;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #e38d13;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}







.little-container {
    
}

.btn-gerenciar-vaga {
    width: 100%;
    background-color: #f0ad4e;
    background-image: none;
    border-color: #black;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn-primary1 {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-primary1:focus,
.btn-primary1.focus {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #ff9900;
}
.btn-primary1:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #ff9900;
}
.btn-primary1:active,
.btn-primary1.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.btn-primary1:active:hover,
.btn-primary1.active:hover,
.open > .dropdown-toggle.btn-primary1:hover,
.btn-primary1:active:focus,
.btn-primary1.active:focus,
.open > .dropdown-toggle.btn-primary1:focus,
.btn-primary1:active.focus,
.btn-primary1.active.focus,
.open > .dropdown-toggle.btn-primary1.focus {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.btn-primary1:active,
.btn-primary1.active,
.open > .dropdown-toggle.btn-primary1 {
  background-image: none;
}
.btn-primary1.disabled:hover,
.btn-primary1[disabled]:hover,
fieldset[disabled] .btn-primary1:hover,
.btn-primary1.disabled:focus,
.btn-primary1[disabled]:focus,
fieldset[disabled] .btn-primary1:focus,
.btn-primary1.disabled.focus,
.btn-primary1[disabled].focus,
fieldset[disabled] .btn-primary1.focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-primary1 .badge {
  color: #e38d13;
  background-color: #fff;
}


.panel-primary1 {
  border-color: #ff9900;
}
.panel-primary1 > .panel-heading {
  color: #fff;
  background-color: #e38d13 ;
  border-color: #ff9900;
}
.panel-primary1 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary1 > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary1 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.btn-perfil-cand {
    margin: 3px;
}

.nome-usuario {
    font-size: 20px;
}

    td{
       word-wrap:break-word;
       
    }
    
    .tabelinha{
        table-layout:fixed;
    }
    
    .whov:hover { background-color: #e38d13!important; }
.view {
	background-position: center center;
	background-repeat: no-repeat;
	height: 500px;
}
.secondbase {
    background-color: rgba(255,255,255,.6); 
    margin-top: -90px;
}

.cor{
    background-color: #f0ad4e;
}

.final-message {
  position: absolute;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}

ul{
    list-style-type: none;
}
.stack {
    
  margin: auto;
}
.card {


  width: 100%;
  max-width: 100%;
  padding: 30px;

  border: 1px solid grey;
  border-radius: 10px;

  position: absolute;
  top: 0;
  left: 0;
  .card-illustration {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transform: scale(1);
    transition: transform 0.5s;
  }
  &:hover,
  &:focus {
    .card-illustration {
      transform: scale(1.1);
    }
  }
}

.js-swiping-card {
  transition: transform 0.5s;
  &.done {
    display: none;
  }
}

.cabEmp {
    font-size: 33px;
}

.botoes-swipe{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.espacobotaoswipe{
    margin-top: 60px;
}

.espacamentobotaoswipe {
    padding: 60px;
}

.footer{
    background-color: #d4d4d4;
}